Repository buildwithgrove/path, pull requests merged in 2025-09, with the labels that each got.

#429 [Fix][QoS] Ensure backend status codes result in sanctions
  network/http/errors.go
  network/http/http_client.go
  network/http/http_client_test.go
  protocol/shannon/context.go
  protocol/shannon/fullnode_lazy.go
  protocol/shannon/sanctions.go
Labels: bug

#436 [Protocol][Observability] Track RelayMiner non-2xx HTTP status codes
  observation/protocol/shannon.pb.go
  proto/path/protocol/shannon.proto
  protocol/shannon/context.go
  protocol/shannon/errors.go
  protocol/shannon/sanctions.go
Labels: protocol, observability

#437 [Observability][Shannon] Fix protocol observations request errors
  metrics/protocol/shannon/metrics.go
  protocol/shannon/sanctioned_endpoints_store.go
Labels: protocol, observability

#441 [Metrics] Fix missing `endpoint_domain` when the observation has an error
  metrics/protocol/shannon/metrics.go
Labels: bug, observability

#419 [Websockets] Add separate context for protocol websockets context and fix ws conn observations
  gateway/gateway.go
  gateway/http_request_context.go
  gateway/hydrator.go
  gateway/observation_websockets.go
  gateway/protocol.go
  gateway/websocket_request_context.go
  metrics/protocol/shannon/metrics.go
  observation/protocol/shannon.pb.go
  proto/path/protocol/shannon.proto
  protocol/shannon/context.go
  protocol/shannon/observation.go
  protocol/shannon/observation_websocket.go
  protocol/shannon/protocol.go
  protocol/shannon/websocket_context.go
Labels: websockets

#424 [Websockets][QoS] Add websockets QoS checks with separate protocol-level endpoint sanction stores for websockets and HTTP
  config/service_qos_config.go
  gateway/http_request_context.go
  gateway/hydrator.go
  gateway/hydrator_http.go
  gateway/hydrator_websocket.go
  gateway/protocol.go
  gateway/qos.go
  gateway/websocket_request_context.go
  metrics/devtools/disqualified_endpoint_reporter.go
  metrics/devtools/disqualified_endpoint_response.go
  protocol/shannon/observation_websocket.go
  protocol/shannon/protocol.go
  protocol/shannon/sanction.go
  protocol/shannon/sanctioned_endpoints_store.go
  protocol/shannon/sanctions.go
  protocol/shannon/websocket_context.go
  qos/cosmos/request_validator_checks.go
  qos/evm/service_qos_config.go
  qos/evm/service_state.go
  qos/noop/noop.go
  qos/solana/check.go
  websockets/bridge.go
  websockets/connection.go
  websockets/connection_test.go
Labels: qos, websockets

#451 [QoS][EVM] Add new error type for JSONRPC backend service unmarshaling failures
  observation/qos/request_error.pb.go
  proto/path/qos/request_error.proto
  qos/evm/context.go
  qos/evm/response.go
  qos/request_error.go
Labels: qos, observability, evm

#454 [QoS][JSONRPC] Generic error responses use JSONRPC error codes not in the reserved ranges
  qos/cosmos/response_jsonrpc.go
  qos/evm/errors.go
  qos/evm/response_generic.go
  qos/jsonrpc/errors.go
  qos/solana/response_generic.go
Labels: qos, solana, jsonrpc, evm, Comet/Cosmos

#448 [Bug][E2E] Adds several minor bug fixes and E2E support for eth, base and bsc
  .github/workflows/run-e2e-tests.yml
  config/service_qos_config.go
  data/legacy_gateway.go
  data/legacy_protocol_shannon.go
  docusaurus/docs/develop/path/3_e2e_tests_quickstart.md
  docusaurus/docs/develop/path/3_example_requests.md
  docusaurus/docs/develop/testing/2_load_tests_quickstart.md
  docusaurus/docs/develop/testing/3_e2e_tests_deep_dive.md
  docusaurus/docs/develop/testing/4_load_tests_deep_dive.md
  e2e/assertions_test.go
  e2e/calculations_test.go
  e2e/config/services.schema.yaml
  e2e/config/services_shannon.yaml
  e2e/config_test.go
  e2e/log_test.go
  e2e/main_test.go
  e2e/service_cosmos_test.go
  e2e/service_evm_test.go
  e2e/service_test.go
  e2e/websockets_test.go
  gateway/errors.go
  gateway/gateway.go
  gateway/hydrator.go
  gateway/hydrator_websocket.go
  gateway/observation_websockets.go
  gateway/protocol.go
  gateway/qos.go
  gateway/request_type.go
  gateway/websocket_request_context.go
  makefiles/test.mk
  makefiles/test_load.mk
  metrics/protocol/shannon/metrics.go
  metrics/qos/evm/metrics.go
  observation/gateway.pb.go
  observation/protocol/shannon.pb.go
  observation/qos/evm_interpreter.go
  proto/path/gateway.proto
  proto/path/protocol/shannon.proto
  protocol/shannon/config.go
  protocol/shannon/context.go
  protocol/shannon/endpoint.go
  protocol/shannon/errors.go
  protocol/shannon/observation.go
  protocol/shannon/observation_websocket.go
  protocol/shannon/sanctioned_endpoints_store.go
  protocol/shannon/sanctions.go
  protocol/shannon/websocket_context.go
  qos/cosmos/qos.go
  qos/cosmos/request_validator_checks.go
  qos/cosmos/request_validator_websocket.go
  qos/cosmos/request_validator_websocket_test.go
  qos/evm/qos.go
  qos/evm/service_state.go
  qos/noop/noop.go
  qos/solana/check.go
  qos/solana/solana.go
  websockets/bridge.go
  websockets/bridge_test.go
  websockets/connection.go
  websockets/errors.go
Labels: bug, e2e

#457 [New Chains] Unichain & Hyperliquid
  config/service_qos_config.go
  e2e/config/e2e_load_test.config.default.yaml
  router/router.go
Labels: Services

#455 [PORTALDB] Adding legacy transforms for Grove Portal
  portal-db/init/001_schema.sql
  portal-db/scripts/hydrate-applications.sh
  portal-db/scripts/hydrate-gateways.sh
  portal-db/scripts/hydrate-services.sh
  portal-db/scripts/legacy-transform_down.sql
  portal-db/scripts/legacy-transform_up.sql
Labels: portal-db
