Repository buildwithgrove/path, pull requests merged in 2025-02, with the labels that each got.

#155 [Review] CometQoS Review
  cmd/qos.go
  envoy/auth_server/proto/gateway_endpoint.pb.go
  envoy/auth_server/proto/gateway_endpoint_grpc.pb.go
  observation/gateway.pb.go
  observation/http.pb.go
  observation/observations.pb.go
  observation/protocol/morse.pb.go
  observation/protocol/observations.pb.go
  observation/protocol/shannon.pb.go
  observation/qos/cometbft.pb.go
  observation/qos/evm.pb.go
  observation/qos/jsonrpc.pb.go
  observation/qos/observations.pb.go
  observation/qos/solana.pb.go
  proto/path/qos/cometbft.proto
  protocol/endpoint.go
  protocol/morse/protocol.go
  protocol/shannon/context.go
  qos/cometbft/api_paths.go
  qos/cometbft/check.go
  qos/cometbft/cometbft.go
  qos/cometbft/context.go
  qos/cometbft/endpoint.go
  qos/cometbft/http.go
  qos/cometbft/observe.go
  qos/cometbft/qos.go
  qos/cometbft/request.go
  qos/cometbft/response.go
  qos/cometbft/response_generic.go
  qos/cometbft/response_health.go
  qos/cometbft/response_status.go
  qos/cometbft/state.go
  qos/cometbft/store.go
  qos/evm/check.go
  qos/evm/context.go
  qos/evm/evm.go
  qos/evm/observe.go
  qos/evm/qos.go
  qos/evm/state.go
  qos/evm/store.go
  qos/solana/check.go
  qos/solana/context.go
  qos/solana/solana.go
Labels: qos, rest

#159 Adding february new chains to Path
  config/service_qos.go
Labels: enhancement, qos

#158 [WIP][Review] Review of #152: `First implementation of relay metrics observability`
  Dockerfile
  Makefile
  Tiltfile
  cmd/metrics.go
  docusaurus/docs/develop/path/cheat_sheet_morse.md
  docusaurus/docs/develop/path/cheat_sheet_shannon.md
  docusaurus/docs/develop/path/env_setup.md
  docusaurus/docs/develop/path/qos.md
  docusaurus/docs/develop/path/troubleshooting_faq.md
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
  gateway/request_context.go
  local/scripts/install_tools.sh
  makefiles/configs.mk
  makefiles/debug.mk
  makefiles/test_requests.mk
  metrics/gateway.go
  metrics/qos/evm.go
  proto/path/gateway.proto
  proto/path/metadata/metadata.proto
  proto/path/qos/evm.proto
  qos/evm/response_blocknumber.go
  qos/evm/response_chainid.go
  qos/evm/response_generic.go
Labels: observability, metrics

#152 [Metrics] First implementation of relay metrics observability
  .gitignore
  Dockerfile
  Makefile
  Tiltfile
  cmd/main.go
  cmd/metrics.go
  cmd/shannon.go
  docusaurus/docs/develop/path/env_setup.md
  docusaurus/docs/develop/path/img/metrics_localnet_overview.png
  docusaurus/docs/develop/path/img/metrics_localnet_relays.png
  docusaurus/docs/develop/path/metrics.md
  docusaurus/docs/develop/path/qos.md
  docusaurus/docs/develop/path/troubleshooting_faq.md
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
  gateway/gateway.go
  gateway/hydrator.go
  gateway/request_context.go
  local/grafana-dashboards/go-runtime.json
  local/grafana-dashboards/service-requests.json
  local/kubernetes/observability-prometheus-stack.yaml
  local/kubernetes/path-values.yaml
  local/scripts/install_tools.sh
  makefiles/configs.mk
  makefiles/debug.mk
  makefiles/proto.mk
  metrics/gateway.go
  metrics/grafana_reporter.go
  metrics/pprof.go
  metrics/prometheus_reporter.go
  metrics/qos/evm.go
  metrics/qos/qos.go
  metrics/server.go
  observation/gateway.pb.go
  observation/metadata/metadata.pb.go
  observation/qos/evm.pb.go
  proto/path/gateway.proto
  proto/path/metadata/metadata.proto
  proto/path/qos/evm.proto
  qos/evm/context.go
  qos/evm/evm.go
  qos/evm/response_blocknumber.go
  qos/evm/response_chainid.go
  qos/evm/response_generic.go
  qos/jsonrpc/observation.go
Labels: observability, metrics

#160 [Tooling] Add Makefile target to enable load testing requests using relay util
  cmd/qos.go
  config/service_qos.go
  docusaurus/docs/develop/path/env_setup.md
  docusaurus/docs/develop/tips/_category_.json
  docusaurus/docs/develop/tips/relay_util.md
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/src/components/RemoteMarkdown.jsx
  docusaurus/yarn.lock
  local/scripts/install_tools.sh
  makefiles/test_requests.mk
Labels: documentation

#161 [QoS] Extend CometBFT checks with Chain ID & synced
  cmd/qos.go
  config/service_qos.go
  go.mod
  observation/qos/cometbft.pb.go
  proto/path/qos/cometbft.proto
  qos/cometbft/context.go
  qos/cometbft/endpoint.go
  qos/cometbft/qos.go
  qos/cometbft/response_health.go
  qos/cometbft/response_status.go
  qos/cometbft/state.go
Labels: qos

#164 [QoS] Add support for handling empty `EVM` responses
  local/grafana-dashboards/service-requests.json
  metrics/qos/evm.go
  metrics/qos/evm/metrics.go
  metrics/qos/evm/response.go
  metrics/qos/qos.go
  observation/qos/evm.pb.go
  proto/path/qos/evm.proto
  qos/evm/context.go
  qos/evm/endpoint.go
  qos/evm/errors.go
  qos/evm/response.go
  qos/evm/response_blocknumber.go
  qos/evm/response_chainid.go
  qos/evm/response_empty.go
  qos/evm/response_generic.go
Labels: enhancement, qos

#167 [Tilt] A few LocalNet Quality of Life Improvements as discord conversation followsups
  .github/pull_request_template.md
  Dockerfile
  Makefile
  Tiltfile
  envoy/auth_server/Dockerfile
  local/kubernetes/envoy-ext-authz.yaml
  local/kubernetes/path-values.yaml
  makefiles/localnet.mk
  makefiles/test_requests.mk
Labels: infra, testing, tooling

#165 [QoS] feat(EVM): Add request validation error tracking and observability improvements
  gateway/request_context.go
  local/grafana-dashboards/service-requests.json
  metrics/qos/evm/metrics.go
  metrics/qos/evm/response.go
  observation/qos/evm.pb.go
  proto/path/qos/evm.proto
  qos/evm/error_context.go
  qos/evm/errors.go
  qos/evm/evm.go
  qos/evm/request.go
  qos/evm/response_blocknumber.go
  qos/evm/response_chainid.go
  qos/evm/response_empty.go
  qos/evm/response_generic.go
Labels: enhancement, qos

#169 [FIX][LOGGER] Fix Morse logger to use global logger instead of initializing its own
  cmd/main.go
  cmd/morse.go
  protocol/morse/protocol.go
Labels: code health

#170 [QoS] Support array of objects as JSONRPC params
  qos/evm/evm.go
  qos/jsonrpc/params.go
  qos/jsonrpc/request.go
  qos/jsonrpc/request_test.go
Labels: qos

#168 [WebSockets] Implement updates to use websockets onchain on Shannon protocol and remove websockets URL bypass
  cmd/main.go
  config/config.schema.yaml
  config/config_test.go
  config/examples/config.shannon_example.yaml
  config/service_qos.go
  config/shannon/gateway_config.go
  docusaurus/docs/develop/path/path_config.md
  gateway/gateway.go
  gateway/protocol.go
  gateway/qos.go
  gateway/request_context.go
  metrics/gateway.go
  protocol/morse/context.go
  protocol/shannon/context.go
  protocol/shannon/endpoint.go
  protocol/shannon/mode_delegated.go
  qos/evm/evm.go
  request/parser.go
  websockets/bridge.go
  websockets/bridge_test.go
  websockets/connection.go
  websockets/connection_test.go
Labels: websockets

#172 feat(jsonrpc): Enhance request parameter validation and serialization
  qos/jsonrpc/params.go
  qos/jsonrpc/request.go
  qos/jsonrpc/request_test.go
Labels: enhancement, qos, jsonrpc
