Repository buildwithgrove/path, pull requests merged in 2025-05, with the labels that each got.

#248 [QoS] Fix solana observations panic
  qos/cometbft/cometbft.go
  qos/cometbft/request.go
  qos/error_context.go
  qos/http.go
  qos/jsonrpc/errors.go
  qos/solana/request.go
  qos/solana/solana.go
Labels: bug, qos

#249 Fix: update Morse pocketcore error pattern match rules
  protocol/morse/errors.go
Labels: bug, morse, protocol

#250 [QoS] Set ServiceID on EVM organic requests observations
  qos/evm/qos.go
  qos/evm/request_validator.go
Labels: bug, qos, observability

#251 Fix success label processor in Morse metrics
  metrics/protocol/morse/metrics.go
Labels: bug, morse, protocol

#245 [QoS][Hydrator] Update hydrator to automatically run checks for all configured services
  cmd/hydrator.go
  cmd/main.go
  config/config.schema.yaml
  config/config_test.go
  config/examples/config.morse_example.yaml
  config/examples/config.shannon_example.yaml
  config/hydrator.go
  docusaurus/docs/develop/path/3_cheatsheet_shannon.md
  docusaurus/docs/develop/path/4_cheatsheet_morse.md
  docusaurus/docs/develop/path/5_configurations_path.md
  docusaurus/docs/learn/qos/1_supported_services.md
  docusaurus/docs/operate/getting_started/1_quickstart.md
  docusaurus/scripts/service_qos_doc_generator.sh
  gateway/hydrator.go
  gateway/protocol.go
  health/checker.go
  local/scripts/shannon_populate_config.sh
  protocol/morse/protocol.go
  protocol/shannon/fullnode_cache.go
  protocol/shannon/mode_centralized.go
  protocol/shannon/mode_delegated.go
  protocol/shannon/protocol.go
  router/router.go
Labels: documentation, qos, devex

#247 [Data Pipeline] Get trace ID from Envoy Proxy with fallback
  gateway/observation.go
Labels: data

#256 [QoS] First introduction of Solana observations
  cmd/hydrator.go
  cmd/qos.go
  config/service_qos_config.go
  data/legacy_qos.go
  metrics/qos/evm/metrics.go
  metrics/qos/qos.go
  metrics/qos/solana/metrics.go
  observation/auth.pb.go
  observation/gateway.pb.go
  observation/http.pb.go
  observation/metadata/metadata.pb.go
  observation/observations.pb.go
  observation/protocol/morse.pb.go
  observation/protocol/observations.pb.go
  observation/protocol/shannon.pb.go
  observation/qos/cometbft.pb.go
  observation/qos/evm.pb.go
  observation/qos/evm_interpreter.go
  observation/qos/jsonrpc.pb.go
  observation/qos/observations.pb.go
  observation/qos/request_error.pb.go
  observation/qos/request_origin.pb.go
  observation/qos/solana.pb.go
  observation/qos/solana_interpreter.go
  proto/path/qos/request_error.proto
  proto/path/qos/request_origin.proto
  proto/path/qos/solana.proto
  qos/error_context.go
  qos/errors.go
  qos/evm/request_validator.go
  qos/http.go
  qos/jsonrpc/errors.go
  qos/request_error.go
  qos/solana/check.go
  qos/solana/context.go
  qos/solana/http.go
  qos/solana/methods.go
  qos/solana/qos.go
  qos/solana/request.go
  qos/solana/request_validator.go
  qos/solana/response.go
  qos/solana/response_generic.go
  qos/solana/response_getepochinfo.go
  qos/solana/response_gethealth.go
  qos/solana/service_qos_config.go
  qos/solana/solana.go
  qos/solana/store.go
Labels: enhancement, qos, solana

#259 [QoS][Solana] Fix: Set endpointStore on request context
  qos/solana/qos.go
  qos/solana/request_validator.go
Labels: bug, qos, solana

#257 [DATA][Morse] Fix: extract TLD+1 (Top Level Domain+1) from Endpoint URL to use in data
  data/legacy_protocol.go
  go.mod
Labels: morse, data

#255 [PATH Migration][Docs] Update PATH's grove auth docs section to reflect removal of PADS
  docusaurus/docs/operate/helm/3_guard.md
  docusaurus/docs/operate/helm/6_grove.md
Labels: documentation

#261 [Data] Add configurable HTTP POST timeout for data reporter
  cmd/data.go
  config/config.schema.yaml
  config/data_reporter.go
  data/reporter_http.go
  docusaurus/docs/develop/path/5_configurations_path.md
Labels: enhancement, data

#265 Bump go version from `v1.23.0` to `v.1.24.3`
  .github/workflows/run-e2e-tests.yml
  .github/workflows/run-lint-and-test.yml
  Dockerfile
  Tiltfile
  docusaurus/yarn.lock
  go.mod
  go.sum
  makefiles/debug.mk
  makefiles/localnet.mk
Labels: dependencies

#260 [QoS][EVM] Add request origin tracking in EVM QoS metrics
  metrics/qos/evm/metrics.go
  observation/qos/evm.pb.go
  observation/qos/evm_interpreter.go
  observation/qos/request_origin.pb.go
  proto/path/qos/evm.proto
  proto/path/qos/request_origin.proto
  qos/evm/context.go
  qos/evm/request_validator.go
  qos/evm/service_state.go
  qos/solana/check.go
  qos/solana/qos.go
  qos/solana/state.go
Labels: enhancement, qos, observability, evm, data

#267 [Protocol][Morse] Add error type and sanction for HTTP request execution failures
  observation/protocol/morse.pb.go
  proto/path/protocol/morse.proto
  protocol/morse/errors.go
  protocol/morse/observation.go
Labels: bug, morse, protocol

#269 [E2E][Load Test] Review of #266
  .markdownlint.json
  docusaurus/docs/develop/path/4_cheatsheet_morse.md
  docusaurus/docs/develop/path/7_e2e_and_load_tests.md
  docusaurus/docs/develop/path/7_e2e_tests.md
  e2e/config/e2e_load_test.config.schema.yaml
  e2e/config/e2e_load_test.config.tmpl.yaml
  e2e/config/e2econfig.tmpl.yaml
  e2e/config_test.go
  e2e/docker_test.go
  e2e/e2e_load_test_config_test.go
  e2e/evm_test.go
  gateway/observation.go
  makefiles/configs.mk
  makefiles/configs_morse.mk
  makefiles/configs_shannon.mk
  makefiles/test.mk
Labels: documentation

#266 [E2E][Load Test] Update Vegeta E2E to load config from YAML and allow sending large load tests to remote PATH
  .github/workflows/run-e2e-tests.yml
  .markdownlint.json
  docusaurus/docs/develop/path/4_cheatsheet_morse.md
  docusaurus/docs/develop/path/7_e2e_and_load_tests.md
  docusaurus/docs/develop/path/7_e2e_tests.md
  e2e/ciutil_test.go
  e2e/config/e2e_load_test.config.schema.yaml
  e2e/config/e2e_load_test.config.tmpl.yaml
  e2e/docker_test.go
  e2e/e2e_load_test_config_test.go
  e2e/evm_methods_test.go
  e2e/evm_test.go
  e2e/opts_test.go
  e2e/scripts/update_morse_config_from_secrets.sh
  e2e/scripts/update_shannon_config_from_secrets.sh
  e2e/vegeta_test.go
  gateway/observation.go
  makefiles/configs.mk
  makefiles/configs_morse.mk
  makefiles/configs_shannon.mk
  makefiles/test.mk
Labels: loadtest, e2e
