Repository buildwithgrove/path, pull requests merged in 2025-03, with the labels that each got.

#178 Remove ArgoCD broken status badge
  README.md
Labels: bug

#162 [Debug] Change `debug_anvil_supplier_info_msg` to `debug_relayminer_supplier_info_msg`
  makefiles/test_requests.mk
Labels: documentation

#175 [Protocol] feat(morse): Add endpoint sanctions and relay metrics system
  cmd/morse.go
  docusaurus/docs/develop/path/metrics.md
  go.mod
  go.sum
  local/observability/grafana-dashboards/morse-relay-requests.json
  metrics/prometheus_reporter.go
  metrics/protocol/morse/metrics.go
  metrics/protocol/protocol.go
  observation/protocol/morse.pb.go
  observation/qos/evm.pb.go
  proto/path/protocol/morse.proto
  proto/path/qos/evm.proto
  protocol/morse/context.go
  protocol/morse/errors.go
  protocol/morse/log.go
  protocol/morse/observation.go
  protocol/morse/protocol.go
  protocol/morse/sanction.go
  protocol/morse/sanctioned_endpoints_store.go
Labels: enhancement, morse, protocol

#181 [GUARD][WATCH] Run PATH, GUARD & WATCH in Tilt from single Helm chart
  Tiltfile
  local/guard/values.tmpl.yaml
  local/kind-config.yaml
  local/path/values.tmpl.yaml
  local/scripts/patch_envoy_gateway.sh
  makefiles/guard.mk
  makefiles/localnet.mk
  makefiles/test_requests.mk
Labels: guard, tilt

#186 [QoS] Add HTTP status code tracking and response handling to EVM QoS
  docusaurus/docs/develop/path/http_status_code.md
  gateway/gateway.go
  local/observability/grafana-dashboards/service-requests.json
  metrics/prometheus_reporter.go
  metrics/qos/evm/metrics.go
  metrics/qos/evm/response.go
  metrics/qos/qos.go
  observation/protocol/morse.pb.go
  observation/qos/evm.pb.go
  observation/qos/evm_errors.go
  observation/qos/evm_interpreter.go
  observation/qos/evm_response_interpreters.go
  proto/path/qos/evm.proto
  qos/evm/check.go
  qos/evm/context.go
  qos/evm/error_context.go
  qos/evm/errors.go
  qos/evm/evm.go
  qos/evm/http.go
  qos/evm/qos.go
  qos/evm/request_validator.go
  qos/evm/response_blocknumber.go
  qos/evm/response_chainid.go
  qos/evm/response_empty.go
  qos/evm/response_generic.go
  qos/evm/response_none.go
  qos/jsonrpc/http.go
  qos/noop/context.go
  qos/solana/http.go
Labels: enhancement, qos, jsonrpc, evm
