Repository buildwithgrove/path, pull requests merged in 2025-07, with the labels that each got.

#337 [Linter] Fix linting issues
  .github/workflows/run-lint-and-test.yml
  .golangci.yml
  cmd/data.go
  data/reporter_http.go
  gateway/errors.go
  gateway/hydrator.go
  gateway/request_context.go
  message/qos/qos.go
  protocol/morse/errors.go
  protocol/morse/fullnode.go
  protocol/shannon/context.go
  protocol/shannon/errors.go
  protocol/shannon/gateway_mode.go
  protocol/shannon/mode_centralized.go
  protocol/shannon/mode_delegated.go
  protocol/shannon/protocol.go
  protocol/shannon/sanctions.go
  qos/cometbft/cometbft.go
  qos/cometbft/context.go
  qos/cometbft/service_qos_config.go
  qos/evm/context.go
  qos/evm/qos.go
  qos/request_error.go
  qos/solana/context.go
  qos/solana/endpoint.go
  qos/solana/response_generic.go
  qos/solana/solana.go
  qos/solana/state.go
  request/errors.go
Labels: code health, claude

#346 [QoS][EVM] Include Endpoint Address in log indicating unmarshal failure
  qos/evm/context.go
  qos/evm/response.go
Labels: qos, observability, evm

#348 Set service_id on CometBFT log entries
  qos/cometbft/qos.go
Labels: qos, Comet/Cosmos

#351 [Scripts] Updating `shannon_query_services_by_owner` and `shannon_query_service_tlds_by_id`
  e2e/scripts/shannon_preliminary_services_helpers.sh
Labels: Scripts

#339 [Session] Introduce ExtendedSessions to RelayRequests
  cmd/shannon.go
  e2e/main_test.go
  local/path/values.tmpl.yaml
  makefiles/localnet.mk
  protocol/shannon/config.go
  protocol/shannon/full_node.go
  protocol/shannon/fullnode_cache.go
  protocol/shannon/fullnode_lazy.go
  protocol/shannon/mode_centralized.go
  protocol/shannon/mode_delegated.go
  protocol/shannon/protocol.go
  protocol/shannon/session.go
Labels: session

#354 [QoS] Include endpoint payload preview if response validation fails
  log/preview.go
  metrics/qos/qos.go
  qos/cometbft/response.go
  qos/evm/response.go
  qos/solana/context.go
  qos/solana/response.go
  qos/solana/response_generic.go
Labels: qos, obesrvability

#341 [Session] Improve relay response metrics and timeout propogation
  cmd/main.go
  config/config.schema.yaml
  config/config_test.go
  config/router.go
  config/router_test.go
  config/timeout.go
  docusaurus/docs/develop/path/5_configurations_path.md
  gateway/hydrator.go
  metrics/protocol/shannon/metrics.go
  observation/protocol/shannon.pb.go
  proto/path/protocol/shannon.proto
  protocol/shannon/context.go
  protocol/shannon/errors.go
  protocol/shannon/observation.go
  protocol/shannon/protocol.go
  protocol/shannon/relay.go
  protocol/shannon/sanctions.go
  router/router.go
Labels: code health

#355 [Bug][Router] Set `router.go` to use correct header from `PEAS`
  gateway/observation.go
  router/router.go
  router/router_mock_test.go
  router/router_test.go
Labels: bug

#357 [QoS] add xrplevm to service_qos_config.go
  config/service_qos_config.go
Labels: qos

#358 [Review] Review of #317
  .github/pull_request_template.md
  .github/workflows/run-e2e-tests.yml
  .gitignore
  .serena/memories/suggested_commands.md
  CLAUDE.md
  Makefile
  config/config_test.go
  config/examples/config.morse_example.yaml
  config/examples/config.shannon_example.yaml
  config/examples/e2e_load_test.archival.config.yaml
  config/examples/e2e_load_test.config.yaml
  docusaurus/docs/develop/configs/1_config_intro.md
  docusaurus/docs/develop/configs/2_gateway_config.md
  docusaurus/docs/develop/configs/3_auth_config.md
  docusaurus/docs/develop/configs/_category_.json
  docusaurus/docs/develop/path/10_cheatsheet_morse.md
  docusaurus/docs/develop/path/1_quick_start.md
  docusaurus/docs/develop/path/2_cheatsheet_shannon.md
  docusaurus/docs/develop/path/3_e2e_tests.md
  docusaurus/docs/develop/path/3_e2e_tests_quickstart.md
  docusaurus/docs/develop/path/4_e2e_tests_deep_dive.md
  docusaurus/docs/develop/path/4_load_tests.md
  docusaurus/docs/develop/path/5_load_tests_quickstart.md
  docusaurus/docs/develop/path/6_load_tests_deep_dive.md
  docusaurus/docs/develop/path/7_env_setup.md
  docusaurus/docs/develop/tips/2_relay_util.md
  docusaurus/docs/develop/tips/3_claude.md
  docusaurus/docs/develop/tips/_category_.json
  docusaurus/docs/learn/qos/1_supported_services.md
  docusaurus/docs/learn/qos/3_adding_new_archival.md
  docusaurus/docs/operate/getting_started/1_quickstart.md
  docusaurus/docs/operate/helm/1_introduction.md
  docusaurus/docusaurus.config.js
  e2e/config/services.schema.yaml
  e2e/config/services_shannon.yaml
  e2e/scripts/copy_e2e_load_test_config.sh
  e2e/scripts/shannon_preliminary_services_test.sh
  local/path/values.tmpl.yaml
  local/scripts/shannon_populate_config.sh
  local_config.yaml
  makefiles/configs_morse.mk
  makefiles/configs_shannon.mk
  makefiles/test.mk
  makefiles/test_requests.mk
  protocol/shannon/apps.go
Labels: review

#317 [Documentation][Load Test][Localnet] Load Testing docs updates
  .github/pull_request_template.md
  .github/workflows/run-e2e-tests.yml
  .gitignore
  .serena/memories/suggested_commands.md
  CLAUDE.md
  Makefile
  config/config_test.go
  config/examples/config.morse_example.yaml
  config/examples/e2e_load_test.archival.config.yaml
  config/examples/e2e_load_test.config.yaml
  docusaurus/docs/README.md
  docusaurus/docs/develop/configs/1_config_intro.md
  docusaurus/docs/develop/configs/2_gateway_config.md
  docusaurus/docs/develop/configs/3_auth_config.md
  docusaurus/docs/develop/configs/_category_.json
  docusaurus/docs/develop/path/1_introduction.md
  docusaurus/docs/develop/path/1_quick_start.md
  docusaurus/docs/develop/path/2_cheatsheet_shannon.md
  docusaurus/docs/develop/path/2_environment.md
  docusaurus/docs/develop/path/3_cheatsheet_shannon.md
  docusaurus/docs/develop/path/3_e2e_tests_quickstart.md
  docusaurus/docs/develop/path/4_cheatsheet_morse.md
  docusaurus/docs/develop/path/4_e2e_tests_deep_dive.md
  docusaurus/docs/develop/path/5_load_tests_quickstart.md
  docusaurus/docs/develop/path/6_load_tests_deep_dive.md
  docusaurus/docs/develop/path/7_e2e_and_load_tests.md
  docusaurus/docs/develop/path/7_env_setup.md
  docusaurus/docs/develop/tips/2_relay_util.md
  docusaurus/docs/develop/tips/3_claude.md
  docusaurus/docs/develop/tips/_category_.json
  docusaurus/docs/learn/qos/1_supported_services.md
  docusaurus/docs/learn/qos/3_adding_new_archival.md
  docusaurus/docs/operate/getting_started/1_quickstart.md
  docusaurus/docs/operate/helm/1_introduction.md
  docusaurus/docusaurus.config.js
  e2e/config/e2e_load_test.config.tmpl.yaml
  e2e/config/services.schema.yaml
  e2e/config/services_shannon.yaml
  e2e/scripts/copy_e2e_load_test_config.sh
  local/path/values.tmpl.yaml
  local/scripts/install_tools.sh
  local/scripts/shannon_populate_config.sh
  makefiles/configs_morse.mk
  makefiles/configs_shannon.mk
  makefiles/deps.mk
  makefiles/test.mk
  makefiles/test_requests.mk
  protocol/shannon/apps.go
Labels: documentation, localnet, loadtest

#225 [Localnet][Devex][Docs] Create localnet dev env Docker container to simplify running PATH dev mode & update docs
  .gitignore
  Dockerfile
  Makefile
  Tiltfile
  docusaurus/static/img/docker.png
  docusaurus/static/img/path-in-tilt-console.png
  docusaurus/static/img/path-in-tilt.png
  local/Dockerfile.dev
  local/path/values.tmpl.yaml
  local/scripts/install_optional_tools.sh
  local/scripts/install_tools.sh
  local/scripts/localnet.sh
  local_config.yaml
  makefiles/localnet.mk
  makefiles/test.mk
Labels: documentation

#367 [QoS][JSONRPC] Fix: JSONRPC explicit null vs absent result field
  e2e/service_evm_test.go
  e2e/service_solana_test.go
  qos/jsonrpc/response.go
  qos/jsonrpc/response_test.go
Labels: bug, qos, jsonrpc

#382 [Payload] Refactoring how null (i.e. empty Data) payloads are returned
  gateway/request_context.go
  protocol/payload.go
  qos/cosmos/error_context.go
  qos/cosmos/request_validator_jsonrpc.go
  qos/cosmos/request_validator_rest.go
  qos/error_context.go
  qos/evm/context.go
  qos/evm/error_context.go
  qos/noop/context.go
  qos/solana/context.go
Labels: bug

#371 [Protocol][Shannon] Protocol only sets RPCType HTTP header on valid values
  protocol/shannon/context.go
  protocol/shannon/log.go
Labels: protocol

#384 [WIP][Review] Review of #366: update cosmos qos to use cometbft ...
  proto/path/qos/cosmos_response.proto
  qos/cosmos/check_cometbft_health.go
  qos/cosmos/check_cosmos_status.go
  qos/cosmos/endpoint.go
  qos/cosmos/response_cometbft_status.go
  qos/cosmos/response_cosmos_status.go
Labels: review

#383 [Protocol][Shannon][Observability] Protocol shannon HTTP timeout metrics
  observation/protocol/shannon.pb.go
  proto/path/protocol/shannon.proto
  protocol/shannon/context.go
  protocol/shannon/http_client.go
  protocol/shannon/protocol.go
  protocol/shannon/relay.go
  protocol/shannon/sanctions.go
Labels: protocol, observability

#385 Basic review
  observation/qos/cosmos_response.pb.go
  proto/path/qos/cosmos_response.proto
  qos/cosmos/check_cometbft_health.go
  qos/cosmos/check_cometbft_status.go
  qos/cosmos/check_cosmos_status.go
  qos/cosmos/endpoint.go
  qos/cosmos/request_validator_checks.go
  qos/cosmos/response_cometbft_status.go
  qos/cosmos/response_cosmos_status.go
  qos/cosmos/response_jsonrpc.go
  qos/cosmos/response_rest.go
  qos/cosmos/service_state_endpoint_selection.go
  qos/cosmos/service_state_endpoint_validation.go
  qos/evm/check_archival.go
  qos/evm/check_blocknumber.go
  qos/evm/check_chainid.go
Labels: review

#366 [QoS][Cosmos][CometBFT] Update `CosmosQoS` to use `CometBFT` AND `CosmosSDK` QoS Checks
  observation/qos/cosmos_response.pb.go
  proto/path/qos/cosmos_response.proto
  qos/cosmos/check_cometbft_health.go
  qos/cosmos/check_cometbft_status.go
  qos/cosmos/check_cosmos_status.go
  qos/cosmos/check_health.go
  qos/cosmos/check_status.go
  qos/cosmos/context.go
  qos/cosmos/endpoint.go
  qos/cosmos/endpoint_store.go
  qos/cosmos/request_validator.go
  qos/cosmos/request_validator_checks.go
  qos/cosmos/request_validator_jsonrpc.go
  qos/cosmos/request_validator_rest.go
  qos/cosmos/response_cometbft_health.go
  qos/cosmos/response_cometbft_status.go
  qos/cosmos/response_cosmos_status.go
  qos/cosmos/response_jsonrpc.go
  qos/cosmos/response_rest.go
  qos/cosmos/service_qos_config.go
  qos/cosmos/service_state.go
  qos/cosmos/service_state_endpoint_selection.go
  qos/cosmos/service_state_endpoint_validation.go
  qos/evm/check_archival.go
  qos/evm/check_blocknumber.go
  qos/evm/check_chainid.go
Labels: qos, Comet/Cosmos

#387 [Review] review of #370
  metrics/devtools/disqualified_endpoint_response.go
  metrics/qos/cosmos/metrics.go
  observation/qos/cosmos.pb.go
  observation/qos/cosmos_interpreter.go
  proto/path/qos/cosmos.proto
  proto/path/qos/cosmos_response.proto
  protocol/shannon/sanctioned_endpoints_store.go
  qos/cosmos/check_evm_chainid_test.go
  qos/cosmos/qos.go
  qos/cosmos/request_validator.go
  qos/cosmos/request_validator_jsonrpc.go
  qos/cosmos/request_validator_rest.go
  qos/cosmos/response_evm_chainid.go
  qos/cosmos/service_qos_config.go
  qos/evm/request_validator.go
  qos/solana/request_validator.go
Labels: review
